<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    <title>Solicitar pedido</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>


<header class=" header d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="paginainicial.html"
       class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="src/image_3.png" class="img_fluid" alt="image 4.png">
    </a>

    <!--<ul class="nav">
      <li class="nav-item"><a href="paginaInicial.html" class="nav-link button button1" aria-current="page">Já sou Cadastrado</a></li>
    </ul>-->
</header>

    <h1 align="center">Solicitar pedido</h1>
    <div class="container mt-5" id="bordabase">
        <div class="row">
            <div class="col-md">
            </div>
            <div class="col-md" align="center">
            </div>
            <div class="col-md">

            </div>
        </div>
        <div class="row">
            <div class="divisor"></div>
            <div class="col-sm">
                <h3><b>Revisando o pedido</b></h3><br>
                <div>
                    <h4><b> Com quem devemos retirar o seu pedido?</b></h4>
                    <h5>João da Silva Sauro</h5>

                </div>
                <br>
                <div>
                    <h4><b>O que o entregador deve retirar?</b></h4>
                    <h5>Caixa de dimensões X, Y, Z e peso W</h5>
                </div>
            </div>
        </div>
        <div class="divisor"></div>
        <br><br>
        <div class="row">
            <div class="divisor"></div>
            <div class="col-sm" align="center">
                <h5><b>Previsão de entrega</b></h5><br>
                <div>
                    <b>PLACEHOLDER</b>
                </div>
            </div>
            <div class="col-sm" align="center">
                <h5><b>Distância</b></h5><br>
                <div>
                    <b>PLACEHOLDER</b>
                </div>
            </div>
            <div class="col-sm" align="center">
                <h5><b>Total a Pagar</b></h5><br>
                <div>
                    <b>PLACEHOLDER</b>
                </div>
            </div>
        </div>

        <div class="divisor"></div>

        <div class="row">
            <div class="col-md">
            </div>
            <div class="col-md" align="center">
                <button class="button button1"><a href="solicitar_entrega1.html">Editar o pedido</a></button>
            </div>
            <div class="col-md" align="center">
                <button class="button button1"><a href="solicitar_entrega4.html">Confirmar Pedido</a></button>
            </div>
        </div>
    </div>

</body>
</html>