    .titulo {
      text-align: center;
      padding: 30px;
      font-weight: bolder;
      font-size:xx-large;
    }

    .texto {
      text-align: center;
      font-size:x-large;
    }

    .divisor {
      height: 20px;
    }

    .header {
      background-color: #043249;
      padding: 5px;
      color: white;
      padding-left: 20px;
    }

    .button {
      font-weight: bolder;
      border: none;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 30px;
      margin: 10px 5px;
      transition-duration: 0.2s;
      cursor: pointer;
      border-radius: 8px;
      width: 200px;
    }

    .button1 {
      background-color: #043249;
      color: white;
    }

    .button1:hover {
      background-color: white;
      color: #043249;
    }

    .button2 {
      color: #043249;
      background-color: white;
    }

    .button2:hover {
      color: white;
      background-color: #043249;
    }

    .button3 {
      width: 510px;
      height: 100px;
      background-color: #043249;
      color: white; 
      font-weight: bolder;
      border: none;
      text-align: center;
      text-decoration: none;
      font-size: 50px;
      transition-duration: 0.2s;
      cursor: pointer;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .button3:hover {
      color: white;
      background-color: #043249;
    }


    #bordabase {
      border-radius: 25px;
      border: 2px solid #043249; 
    }
    

    #menupersonalizado{
      
      background-color:#043249;
    }





    .bem_vindo {
      margin-right: 20px;
    }

    .label {
      font-weight: 500;
      justify-content:space-around;
    }

    .azul_marinho {
      color:#043249;
    }

    .nova_entrega {
      margin: 20px;
    }




